@charset "UTF-8";

h3.title {margin: 0px;background: #08a600;color: white;height: 43px;text-align: center;}

body {margin: 0;}

form {margin: 33px;}

input#userid {width: 115px;height: 23px;}

.b1 {height: 30px;}

p {font-size: small;}